.upload-box {
  width: 140px;
  height: 140px;
  border: 2px dashed #bdbdbd;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  background: #fafafa;
}

.upload-box:hover {
  border-color: #757575;
  background: #f0f0f0;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.upload-label {
  font-size: 13px;
  color: gray;
  margin-bottom: 4px;
  display: inline-block;
}
